<div>
  <div class="row">
    <div class="col-12" [ngVar]="{examId: examId}" #filter="ngVar">
      <app-advanced-table-search #advancedSearch [(filter)]="filter.value" [collapsed]="true" [table]="students">
        <advanced-search>
          <app-advanced-search-form (filterChange)="advancedSearch.asyncAdvancedSearch()" #search [(filter)]="filter.value"></app-advanced-search-form>
        </advanced-search>
      </app-advanced-table-search>
    </div>
  </div>

  <div class="row">
    <div class="col-auto mt-4">
      <div class="font-xl text-secondary" *ngIf="recordsTotal">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Exams.Students'"></span>
      </div>
    </div>
    <div class="pull-right ml-auto mr-3 mt-3">
      <div class="font-lg btn-toolbar mt-3">
        <a *ngIf="recordsTotal > 0"
           class="text-primary text-decoration-none mr-2 universis-btn-export" href="javascript:void(0)">
          <span [translate]="'Exams.Export'"></span>
        </a>
          <a class="text-indigo text-decoration-none d-none" [routerLink]="['.', { outlets:{ modal:'add'} }]">
            <span>+</span><span>&nbsp;</span><span [translate]="'Classes.AddSection'"></span>
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 mb-4">
      <app-advanced-table [showFooter]="false" (load)="onDataLoad($event)" #students [height]="600" >
      </app-advanced-table>
    </div>
  </div>

  <router-modal></router-modal>

</div>
