<div>
  <div class="row">
    <div class="col-12" [ngVar]="{}" #filter="ngVar">
      <app-advanced-table-search #advancedSearch [(filter)]="filter.value" [collapsed]="true" [table]="table" [routerSearchState]>
        <advanced-search>
          <app-advanced-search-form (filterChange)="advancedSearch.asyncAdvancedSearch()" #search [(filter)]="filter.value"></app-advanced-search-form>
        </advanced-search>
      </app-advanced-table-search>
    </div>
  </div>
  <div  class="alert alert-dismissible alert-info show col-12 mt-2">
    <div [translate]="'Exams.StatisticsHelp'"></div>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="row">
    <div class="col-auto mt-3" *ngIf="!isLoading">
      <div class="font-xl text-secondary" *ngIf="recordsTotal > 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Exams.Title'"></span>
      </div>
      <div class="font-xl text-secondary" *ngIf="recordsTotal === 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Exams.TitleSingular'"></span>
      </div>
    </div>
    <!--start:dropdown menu-->
    <div class="pull-right ml-auto mr-3 mt-3">
      <div class="btn-group" *ngIf="this.table && this.table.selectable">
        <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="btn btn-outline-indigo btn-lg" type="button"
                [translate]="'Students.Actions'">
        </button>
        <button type="button" class="btn btn-lg btn-outline-indigo dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="dropdown-item" (click)="openAction()" [translate]="'Exams.OpenExam'">Open</button>
          <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="dropdown-item" (click)="closeAction()" [translate]="'Exams.CloseExam'">Close</button>
          <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="dropdown-item" (click)="calculateStatistics()" [translate]="'Exams.CalculateStatisticsAction.Title'">Close</button>
          <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="dropdown-item" (click)="AddResultDateAction()" [translate]="'Exams.AddResultDateMessage.Title'">Close</button>
          <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="dropdown-item" (click)="deleteAction()" [translate]="'Exams.DeleteExam'">Delete</button>
          <div class="dropdown-divider"></div>
          <button class="dropdown-item" (click)="table.selectAny()" [translate]="'Tables.SelectAll'">Select all</button>
          <button class="dropdown-item" (click)="table.selectNone()" [translate]="'Tables.ClearSelection'">Clear selection</button>
        </div>
      </div>
    </div>
    <!--end:dropdown menu-->
    <div class="col-12 mb-4">
      <app-advanced-table #table [autoLoad]="false" [columnOrdering]="true" [height]="600"  (loading)="onLoading($event)"  (load)="onDataLoad($event)"></app-advanced-table>
    </div>
  </div>
  <router-modal></router-modal>
</div>
