<ng-container *ngIf="lastError">
  <!--show error-->
  <div class="row mb-3">
    <div class="col-12 col-md-8 col-lg-4">
      <div class="alert alert-warning" role="alert">
        <span [translate]="'Students.PercentagesError'"></span><br>
        <small>{{lastError.error?.code}}</small>
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="this.okButtonDisabled && mode === 'edit'">
  <!--show warning-->
  <div class="row mb-3">
    <div class="col-12 col-md-8 col-lg-4">
      <div class="alert alert-warning" role="alert">
        <span [translate]="'Students.PercentagesValuesError'"></span><br>
      </div>
    </div>
  </div>
</ng-container>
<div *ngIf="model">
  <ul div *ngIf="model.length>0" class="sis--list-group sis--list-group-header">
    <li class="sis--list-group-item">
      <div class="d-flex justify-content-between align-items-center">
        <div class="sis--list-group-item_md_column d-block text-center" [translate]="'Students.CourseDisplayCode'"></div>
        <div class="sis--list-group-item_lg_column d-block text-center" [translate]="'Students.Title'"></div>
        <div class="sis--list-group-item_md_column d-none d-md-block text-center" [translate]="'Students.Grade'"></div>
        <div class="sis--list-group-item_md_column d-none d-md-block text-center" [translate]="'Students.CalculatedInGroup'"></div>
        <div class="sis--list-group-item_md_column d-block text-center" [translate]="'Students.Percent'">
        </div>
      </div>
    </li>
  </ul>
  <ul class="sis--list-group sis--list-group-body">
    <li *ngFor="let course of model" class="sis--list-group-item">
      <div class="d-flex justify-content-center align-items-center list-color">
        <div class="sis--list-group-item_md_column d-block text-center">{{course?.displayCode }}</div>
        <div class="sis--list-group-item_lg_column d-block text-center">{{course?.name}}</div>
        <div class="sis--list-group-item_md_column d-none d-md-block text-center">
          <span class="font-2xl" [ngClass]="course?.isPassed? 'text-success' : 'text-danger'">{{course.formattedGrade || '-' }}</span>
        </div>
        <div *ngIf="mode === 'edit'" class="sis--list-group-item_md_column d-block text-center">
          <div class="form-check text-center">
            <input id="{{course.id}}" class="form-check-input position-static" type="checkbox" [(ngModel)]="course.calculated" (change)="onChange()">
          </div>
        </div>
        <div *ngIf="mode==='view'" class="sis--list-group-item_md_column d-block text-center">
          {{'Students.CalculateGrade.' + course.calculated | translate}}
        </div>
        <div *ngIf="mode === 'edit'" class="sis--list-group-item_md_column d-block text-center">
          <input class="form-control bg-white text-center" type="text" [(ngModel)]="course.groupPercent" (change)="onChange()">
        </div>
        <div *ngIf="mode === 'view'" class="sis--list-group-item_md_column d-block text-center">
          {{course.groupPercent >= 0 ? course.groupPercent : '-'}}
        </div>
      </div>
    </li>
  </ul>

  <div *ngIf="model.length > 0 && mode === 'edit'" class="mb-3 pt-4" [translate]="'Students.PercentagesInfo'"></div>
  <div *ngIf="!model.length" class="mb-3 pt-4" [translate]="'Students.NoCourses'"></div>

</div>
