<div class="col-12 tab-navbar tab-container">
  <ul class="mt-3 nav nav-tabs d-flex">
    <li class="nav-item tab-brand disabled">
      <a class="nav-link disabled" href="javascript:void(0)"
         [translate]="'Sidebar.CheckRules'"></a>
    </li>
    <ng-container *ngFor="let item of activePaths">
      <li class="nav-item">
        <a class="nav-link" [translate]="item.name"
           [routerLink]="[item.alternateName]" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}"></a>
      </li>
    </ng-container>

  </ul>
  <div class="tab-content">
    <div class="tab-pane active">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div>

  </div>
</div>
