<!-- Modal -->
<div
  class="modal fade"
  id="studentUsernameFormat"
  tabindex="-1"
  role="dialog"
  aria-labelledby="studentUsernameFormat"
  aria-hidden="true"
  >
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="studentUsernameFormatLabel">Available student username format elements</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          >
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="sis--list-group sis--list-group-header">
          <li class="sis--list-group-item">
            <div class="d-flex justify-content-center align-items-center">
              <div class="sis--list-group-item_sm_column">Identifier</div>
              <div class="sis--list-group-item_sm_column d-none d-sm-block">Description</div>
              <div class="sis--list-group-item_lg_column d-none d-xl-block">Accepts number</div>
              <div class="sis--list-group-item_sm_column d-none d-sm-block">Accepts text</div>
              <div class="sis--list-group-item_sm_column">Example</div>
            </div>
          </li>
        </ul>
        <ul class="sis--list-group sis--list-group-body">
          <li class="sis--list-group-item">
            <div class="d-flex justify-content-center align-items-center list-color">
              <div class="sis--list-group-item_sm_column font-weight-bold">G</div>
              <div class="sis--list-group-item_sm_column d-none d-sm-block font-weight-bold">Latin given name</div>
              <div class="sis--list-group-item_lg_column d-none d-xl-block">Yes, optionally. Indicates how many characters of the given name will be used. Uses the whole name by default</div>
              <div class="sis--list-group-item_sm_column d-none d-sm-block">
                No
              </div>
              <div class="sis--list-group-item_sm_column">G4</div>
            </div>
          </li>
          <li class="sis--list-group-item">
            <div class="d-flex justify-content-center align-items-center list-color">
              <div class="sis--list-group-item_sm_column font-weight-bold">F</div>
              <div class="sis--list-group-item_sm_column d-none d-sm-block font-weight-bold">Latin family name</div>
              <div class="sis--list-group-item_lg_column d-none d-xl-block">Yes, optionally. Indicates how many characters of the family name will be used. Uses the whole name by default</div>
              <div class="sis--list-group-item_sm_column d-none d-sm-block">
                No
              </div>
              <div class="sis--list-group-item_sm_column">F4</div>
            </div>
          </li>
          <li class="sis--list-group-item">
            <div class="d-flex justify-content-center align-items-center list-color">
              <div class="sis--list-group-item_sm_column font-weight-bold">Y</div>
              <div class="sis--list-group-item_sm_column d-none d-sm-block font-weight-bold">Inscription year</div>
              <div class="sis--list-group-item_lg_column d-none d-xl-block">Yes, optionally. Indicates the number of last digits of the year that will be used. Uses the whole year by default</div>
              <div class="sis--list-group-item_sm_column d-none d-sm-block">
                No
              </div>
              <div class="sis--list-group-item_sm_column">Y2</div>
            </div>
          </li>
          <li class="sis--list-group-item">
            <div class="d-flex justify-content-center align-items-center list-color">
              <div class="sis--list-group-item_sm_column font-weight-bold">I</div>
              <div class="sis--list-group-item_sm_column d-none d-sm-block font-weight-bold">Incremented index</div>
              <div class="sis--list-group-item_lg_column d-none d-xl-block">Yes, optionally and usually zeros. Indicates the length of the final index</div>
              <div class="sis--list-group-item_sm_column d-none d-sm-block">
                No
              </div>
              <div class="sis--list-group-item_sm_column">I000</div>
            </div>
          </li>
          <li class="sis--list-group-item">
            <div class="d-flex justify-content-center align-items-center list-color">
              <div class="sis--list-group-item_sm_column font-weight-bold">U</div>
              <div class="sis--list-group-item_sm_column d-none d-sm-block font-weight-bold">GUID</div>
              <div class="sis--list-group-item_lg_column d-none d-xl-block">No</div>
              <div class="sis--list-group-item_sm_column d-none d-sm-block">
                No
              </div>
              <div class="sis--list-group-item_sm_column">U</div>
            </div>
          </li>
          <li class="sis--list-group-item">
            <div class="d-flex justify-content-center align-items-center list-color">
              <div class="sis--list-group-item_sm_column font-weight-bold">S</div>
              <div class="sis--list-group-item_sm_column d-none d-sm-block font-weight-bold">Student identifier</div>
              <div class="sis--list-group-item_lg_column d-none d-xl-block">No</div>
              <div class="sis--list-group-item_sm_column d-none d-sm-block">
                No
              </div>
              <div class="sis--list-group-item_sm_column">S</div>
            </div>
          </li>
          <li class="sis--list-group-item">
            <div class="d-flex justify-content-center align-items-center list-color">
              <div class="sis--list-group-item_sm_column font-weight-bold">T</div>
              <div class="sis--list-group-item_sm_column d-none d-sm-block font-weight-bold">Free text</div>
              <div class="sis--list-group-item_lg_column d-none d-xl-block">Yes</div>
              <div class="sis--list-group-item_sm_column d-none d-sm-block">
                Yes
              </div>
              <div class="sis--list-group-item_sm_column">TcustomText</div>
            </div>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
        Close
        </button>
      </div>
    </div>
  </div>
</div>