<div class="card">
  <div class="card-header d-md-flex">
    <h5 [translate]="'Users.Departments'" class="mr-3 my-auto"></h5>
    <!--    <a href="#/users/{{user.id}}/dashboard/departments" class="text-primary ml-auto my-auto"><span [translate]="'Users.More'"></span></a>-->
  </div>
  <div class="card-body py-0">
    <div id="group-list"  class="flex-column" *ngIf="user && user.departments && user.departments.length > 0">
      <ul class="sis--list-group sis--list-group-header">
        <li class="sis--list-group-item">
          <div class="d-flex justify-content-center align-items-center">
            <div class="sis--list-group-item_md_column d-none d-md-block px-4 text-left" [translate]="'Users.DepartmentName'"></div>
            <div class="sis--list-group-item_sm_column text-left"></div>`
          </div>
        </li>
      </ul>
      <ul class="sis--list-group sis--list-group-body">
        <li class="sis--list-group-item" *ngFor="let department of user.departments">
          <div class="d-flex justify-content-center align-items-center list-color">
            <div class="sis--list-group-item_md_column d-none d-md-block text-secondary text-truncate px-4 text-left">{{ department?.name }}</div>
            <div class="sis--list-group-item_sm_column text-right">
              <a href="#/departments/{{ department?.id }}/dashboard/general" class="text-primary text-decoration-none"
                 [translate]="'Users.View'"></a>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="mb-3"  *ngIf="!user || !user.departments || user.departments.length == 0">
      <span [translate]="'Users.Empty'"></span>
    </div>
  </div>
  <div class="card-footer pt-0" *ngIf="user && user.departments && user.departments.length > 0">
    <div class="text-gray-600 mt-3">{{ user.departments?.length }} <span [translate]="'Users.Total'"></span></div>
  </div>
</div>
